.buttonContainer{
  display:flex;
  padding:10px;
}

.buttonContainer button{
  background: #0080c0;
  border: 1px;
  border-radius: 0.3rem;
  padding: 10px;
}
.buttonContainer label{
  color:#fff;
} 