.headerContainer{
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    background-color: #575bf7;
}
#titleBox{
    color: #fff;
    padding: 15px;
}
#userBox{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
=======
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-left: 10vw;
    margin-bottom: 10px;

    background: #757576
}

#titlePage{
    display: flex;
    margin-left: 3%;
    color:#fff;
}

#loginBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
>>>>>>> 1e2db42517d77b56086aca7abaea2999ab2fdf0a
}