.headerContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-left: 10vw;
    margin-bottom: 10px;

    background: #757576
}

#titlePage{
    display: flex;
    margin-left: 3%;
    color:#fff;
}

#loginBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}