.sideBarContainer{
    display: block;
    flex-direction: column;

    position: absolute;

    margin-top: 0;
    margin-right: 15px;

    width: 15vw;
    height: 100vh;
}

.sideBarContainer nav{
    display: flex;
    flex-direction: column;
}