.sideBarContainer{
  margin-top: 0;
  margin-left: 0;
  margin-right: 15px;

  margin-bottom: 0px;

  background: #1f2b31;

  height: 95vh;
}

.sideBarContainer nav{
  display: flex;
  flex-direction: column;
  text-decoration: none;

  padding: 15px;
}

#link{
  text-decoration: none;
  color:#fff;
}
